fastapi
uvicorn[standard]
aiosqlite
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-dotenv
phonenumbers
pytz
tenacity
redis
httpx
pyjwt[crypto]
passlib[bcrypt]
bcrypt
apscheduler
aiobreaker
email-validator
twilio
firebase-admin
aioboto3
